<title>一時保存 | Wolverine</title>
<div id="wrap" class="wrap-form">
  <div class="container">
    <h2 class="headline"><i class="icon-basic-sheet-txt"></i>申込書の一時保存</h2>
    <div class="block-message">
      <p>申込書の一時保存が完了しました。</p>
      <div class="block-btn">
        <a href="./" class="btn-l btn-blue">続けて作成する</a>
      </div><!-- / .block-btn -->
    </div><!-- / .block-message -->
  </div><!-- / .container -->
  <p class="link"><a href="./" class="link-top">← TOPへ戻る</a></p>
</div><!-- / #wrap -->

