<h1>Rails Wicked PDF</h1>
<table>
  <thead>
    <tr>
      <th>ID</th><th>名前</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @application.id %></td>
      <td><%= @application.company_name %></td>
    </tr>
  </tbody>
</table>
